.rodape_autor{
     font-family: 'Nova Square',
     cursive;
     color: white;
     position: absolute;
     right: 50px;
     margin: 20px;
}

.rodape_autor a{
     display: flex;
     text-decoration: none;
     color: white;
     padding: 10px;
}

.rodape_autor a:hover {
     color: goldenrod;
     text-decoration: underline;
}